body{
background-color: black;
}

@media only screen and(min-width: 766px)
{
.about-me-text
{
transform: translateX(10%);
}
}

.about-me-text{
font-size: 28px;
margin-top: 200px;
transform: translateX(10%);
}

.display-img{
border-radius: 10%;
left: 50%;
transform: translateX(40%);
margin-top: -230px;
height:50%;
width: 30%;
}